<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<%- include('./partial/head') %>
	</head>
	<body>
		<%- include('./partial/navbar') %>
		<%- include('./partial/footer') %>
		<style>
			card-container {
				width: 100%;
				height: 100%;
			}
		</style>
		<script src="/component/upgradable-picture.js" type="module"></script>
		<script src="/component/feed-card.js" type="module"></script>
		<script src="/component/card-container.js" type="module"></script>
		<main>			
			<card-container>
				<feed-card feed-id="123"></feed-card>
				<feed-card></feed-card>
				<feed-card></feed-card>
			</card-container>
		</main>
	</body>
</html>