@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #555;
		--accent-color: #81aa04;
		--primary-text-color: white;
		--accent-text-color: white;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary-color: #555;
		--accent-color: #81aa04;
		--primary-text-color: white;
		--accent-text-color: white;
	}
}